// vars
$font: 'Heebo';
$btnColor: #FF6464;

// global styles
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    color: #21243D;
}

// section john
.john {
    text-align: center;

    &_photo {
        display: inline-block;

        &_img {
            display: block;
        }
    }
}