* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Heebo";
  color: #21243D;
}

.john {
  text-align: center;
}
.john_photo {
  display: inline-block;
}
.john_photo_img {
  display: block;
}