* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 16px;
  color: #21243D;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.john {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .john .container {
    display: flex;
    flex-direction: row-reverse;
  }
}
.john_photo {
  display: inline-block;
  position: relative;
}
@media (min-width: 768px) {
  .john_photo {
    width: 50%;
  }
}
.john_photo::after {
  content: "";
  display: block;
  position: absolute;
  height: 170px;
  width: 170px;
  top: 9px;
  left: calc(50% - 85px);
  background: #EDF7FA;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .john_photo::after {
    height: 243px;
    width: 243px;
    left: calc(50% - 121px);
  }
}
.john_photo_img {
  display: inline-block;
  height: 170px;
  width: 170px;
  position: relative;
  top: -9px;
  left: 4px;
  z-index: 2;
}
@media (min-width: 768px) {
  .john_photo_img {
    height: 243px;
    width: 243px;
  }
}
@media (min-width: 768px) {
  .john_info {
    width: 50%;
  }
}
.john_title {
  font-size: 2rem;
  line-height: 40px;
  margin: 34px 0 21px;
  padding-left: 12px;
  padding-right: 12px;
}
.john_subtitle {
  margin: 0;
  line-height: 24px;
}
.john_btn {
  display: inline-block;
  background: #FF6464;
  border-radius: 2px;
  padding: 9px 20px 10px;
  margin-top: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
}